name: .NET Core Desktop Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: PBR_Material_Maker.sln

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build ${{ matrix.configuration }} Version
      run: dotnet build $env:Solution_Name --configuration ${{ matrix.configuration }}

    # Optional: Upload Build-Artefakte
    - name: Upload Build Output
      uses: actions/upload-artifact@v4
      with:
        name: BuildOutput-${{ matrix.configuration }}
        path: |
          PBR Material Maker/bin/${{ matrix.configuration }}/net10.0-windows/
          PBR-Material-Maker/tree/main/PBR%20Material%20Maker/bin/Debug/net8.0-windows
